.checkout__wrapper {
  width: 100%;
  padding-top: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout__container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.checkout__inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input__wrapper {
  width: 100%;
}

.input--full {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input--half {
  width: 49%;
}

.input--twird {
  width: 66%;
}

.input--third {
  width: 32%;
}

.input__title {
  font-weight: bold;
  font-size: 20px;
  color: #232f3e;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.checkout__products {
  margin-left: 32px;
}

.payment-button__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.continue__shopping {
  display: flex;
  color: #232f3e;
  cursor: pointer;
  font-size: 16px;
}

.new__method {
  display: flex;
  color: #8fc1ff;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.return__carot {
  height: 18px;
  margin-right: 8px;
}

.saved__method__wrapper {
  width: 100%;
  display: flex;
  padding: 16px;
  background: #f2f2f2;
  border-radius: 8px;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
}

.saved__method--active {
  border: 2px solid #8fc1ff;
}

.method__title {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 16px;
  cursor: pointer;
}

.method__description {
  font-size: 14px;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bold {
  font-weight: bold;
  margin-right: 4px;
  font-size: 14px;
}

.remove__icon {
  height: 12px;
  margin-left: 12px;
  cursor: pointer;
}