.landing__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__image {
  margin-top: 112px;
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  margin-bottom: -248px;
}

.product__section {
  margin-bottom: 32px;
  padding: 0px 96px;
  width: 100%;
  box-sizing: border-box;
}

.section__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__more {
  margin: 8px;
  display: flex;
  align-items: center;
  color: #ff9d0c;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.section__carot {
  margin-left: 8px;
  height: 18px;
}

.section__title {
  margin: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #232f3e;
}

.product__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.searchbar__wrapper--mobile {
  display: none;
}

@media only screen and (max-width: 1024px) { 

  .header__image {
    margin-bottom: -32px;
  }
}

@media only screen and (max-width: 600px) {

  .landing__wrapper {
    padding-top: 80px;
  }

  .header__image {
    display: none;
  }

  .product__section {
    padding: 0px 16px;
  }

  .product__row {
    width: 100%;
    overflow-x: auto;
  }

  .section__title {
    font-size: 20px;
  }

  .searchbar__wrapper--mobile {
    flex: 1;
    padding: 24px 16px 32px 16px;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .searchbar__button--mobile {
    height: 100%;
    width: 60px;
    background: #f2f2f2;
    height: 40px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;
  }

}
