@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  background: rgb(253, 252, 252);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  box-sizing: border-box;
}

.button {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  transition: .2s ease;
}

.button:hover {
  background: #ffb60c;
}

.button:active {
  transform: scale(.98);
}

.button--orange {
  background: #ff9d0c;
}

.button--blue {
  background: #232f3e;
}

.button--payment {
  height: 48px;
  font-size: 16px;
}

.button--payment {
  outline: none;
}

.button--circle {
  height: 32px;
  width: 32px;
  background: #232f3e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s ease;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.button--circle:hover {
  background: #3f546e;
}

.button--circle:active {
  transform: scale(.9);
}

.button__img {
  height: 16px;
}

.input__description {
  font-size: 14px;
  color: #333;
  margin-top: 16px;
}

.input {
  border: 2px solid #f2f2f2;
  outline: none;
  background: #f2f2f2;
  border-radius: 4px;
  height: 48px;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 32px;
  margin-top: 8px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  transition: .2s ease;
}

.stripe__input {
  padding-top: 12.5px;
}

.input:active {
  border: 2px solid #57a3ff67;
}

.input:focus {
  border: 2px solid #57a3ff67;
}

.input--error {
  border: 2px solid rgb(255, 96, 96);
}

.navbar__wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 16px 24px;
  background: #fff;
}

.nav__categories {
  height: 32px;
  /* box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.3); */
  background: #232f3e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav__category {
  font-size: 14px;
  color: #f2f2f2;
  margin: auto 8px;
  cursor: pointer;
  transition: .2s ease;
}

.nav__category:hover {
  color: #ff9d0c;
}

.nav__logo {
  height: 32px;
  margin-top: 8px;
  cursor: pointer;
}

.searchbar__wrapper {
  flex: 1;
  padding: 0px 16px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: auto 16px;
}

.searchbar__input {
  width: 100%;
  height: 40px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: none;
  outline: none;
  background: #f2f2f2;
  padding: 0px 16px;
  box-sizing: border-box;
  font-size: 18px;
}

.searchbar__button {
  height: 100%;
  width: 60px;
  background: #ff9d0c;
  height: 40px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s ease;
}

.searchbar__button:hover {
  background: #ffab2d;
}

.searchbar__icon {
  height: 18px;
}

.searchbar__input:focus {
  border: 1px solid #ffac306e;
  outline: none;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__link {
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: .2s ease;
}

.nav__link:hover {
  background: #fafafa;
}

.nav__link--small {
  font-weight: normal;
  color: #333333;
  font-size: 14px;
}

.nav__link--bold {
  color: #232f3e;
}

.nav__cart {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  color: #ff9d0c;
  padding: 0px 8px;
  border-radius: 4px;
  transition: .2s ease;
}

.nav__cart:hover {
  background: #fafafa;
}

.nav__cart--icon {
  height: 24px;
  margin-right: 8px;
}

.nav__links--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: none;
}

.mobile__link {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 50%;
  margin-right: 8px;
}

.user__options {
  position: absolute;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  top: 110%;
  right: 0%;
  height: 60px;
  width: 136px;
  border-radius: 8px;
  padding: 8px 0px;
  display: none;
  box-sizing: border-box;
}

.user__options--open {
  display: flex;
}

.user__option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background: #fafafa;
}

.mobile__link--icon {
  height: 18px;
}

@media only screen and (max-width: 1024px) { 
  .searchbar__wrapper {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  .navbar {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 16px;
  }
  
  .nav__logo {
    height: 26px;
  }

  .searchbar__wrapper {
    display: none;
  }
  
  .searchbar__input {
    font-size: 12px;
  }

  .nav__links {
    display: none;
  }
  
  .nav__links--mobile {
    display: flex;
  }

  .nav__categories {
    display: none;
  }

  .input {
    border: none;
  }

  .input:focus {
    border: none;
  }
  
  .button {
    box-sizing: border-box;
    padding: 24px;
  }

}